.login-wrapper {
    width: 100%;
    margin-top: 5%;
    width: fit-content;
    margin: 0 auto;
    padding: 7%;
    background-color: orange;
    margin-top: 10%;
    text-align: center;
}

.error {
    color: red;
    font-size: 10px;
}

.username-input {
    margin-bottom: 10%;
    width: 100%;
    padding: 6%;
    box-sizing: border-box;
    color: black;
}

.username-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
}

.password-input {
    width: 100%;
    padding: 6%;
    box-sizing: border-box;
}

.password-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
}

.login-btn {
    margin-top: 15%;
    padding: 5%;
    width: 75%;
}

.login-btn2 {
    margin-top: 15%;
    padding: 5%;
    width: 75%;
    margin-bottom: 10%;
}
