.App {
  text-align: center;
  background-color: rgb(218, 218, 218);
  width: 87%;
  margin: 0 auto;
  height: 100%;
}
body{
  background-color: rgb(255, 255, 255);
}
.nav{
  display: flex;
}
.navbuttons{
border-radius: 30px;
margin-left: 50%;
margin-top: 1.5%;
flex: auto;
justify-content: flex-end;
}

.postcard{
  background-color: rgb(146, 146, 146);
  padding: 1%;
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;

}